doctype html
html
  head
    title= title

  body
    nav.w3-bar.w3-border.w3-light-grey( role="navigation" )
      .w3-bar-item.w3-text-grey Kamamishu
      a(href="/").w3-bar-item.w3-button Home
      if locals.user
        a(id="qsLogoutBtn" href="/logout").w3-bar-item.w3-button Log Out
      else
        a(id="qsLoginBtn" href="/").w3-bar-item.w3-button Log In
    block content
